@page
@model IndexModel
@{
    ViewData["Title"] = "Everything";
}

<div class="text-center">
    <h1 class="display-4">Welcome<span class="dot">.</span></h1>
    <p>Learn more about <a href="https://github.com/3shadesblacker/everythingEF">this project</a>.</p>
</div>
